---
import BaseLayout from '../layout/BaseLayout.astro';
const { pageTitle } = Astro.props;
---



<BaseLayout pageTitle={pageTitle}>
<h1>welcome to my warhammer blog</h1>
<h2>here i will post battlereports hobby guides and painting tips </h2>
    <p>the website is still work in progress so some errors can appear </p>
</BaseLayout>



