---
import BaseLayout from '../layout/BaseLayout.astro';
const { pageTitle } = Astro.props;
---



<BaseLayout pageTitle={pageTitle}>
<h1>this is my astro site</h1>
<h2>it is currently work in progress</h2>
</BaseLayout>



