---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "about this site";




<BaseLayout pageTitle={pageTitle}>
<h1>this is my astro site</h1>
<h2>it is currently work in progress</h2>
</BaseLayout>



