---
import BaseLayout from '../layout/BaseLayout.astro';
const { pageTitle } = Astro.props;
---



<BaseLayout pageTitle={pageTitle}>
<h2>about me</h2>
    <p>i play warhammer since january 2024 and enjoy to play orks <br> i also have ~1000 points sisters of battle and ~1800 point gloomspite gitz</p>
<p>check out the <a href ="/models">model Page</a> to see pictures of my models</p>
</BaseLayout>



