---
import BaseLayout from '../layout/BaseLayout.astro';
const { pageTitle } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="title">Welcome to the 41th millenium</h1>
	<h2>welcome to my warhammer blog</h2>
	<h3>here i will post battlereports hobby guides and painting tips </h3>
	<p>the website is still work in progress so some errors can appear </p>
</BaseLayout>