---
import  BaseLayout from '../layout/BaseLayout.astro';
const { pageTitle } = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
    <h2>MY models</h2>
    <p>this Page is currently under construction</p>
    <img src="../src/images/img1.jpg">
    <img src="../src/images/img3.jpg">
    <img src="../src/images/img4.jpg"></img>
</BaseLayout>