
---
import Navigation from './navigation.astro';
import Hamburger from "./hamburger.astro";
---
<header>

    <nav>
        <Navigation />
        <Hamburger />
    </nav>
</header>

<script>
document.querySelector('.Hamburger')?.addEventListener('click', () => {
    document.querySelector('.nav-links')?.classList.toggle('expanded');
    });
</script>
