---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter, Content } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>{frontmatter.date ? frontmatter.date.toString().slice(0, 10) : "Date not available"}</p>
    <p><em>{frontmatter.description || "No description available"}</em></p>
    <p>Written by: {frontmatter.author || "Unknown Author"}</p>


    <slot/>
</BaseLayout>





